.main-container {
  background-color: bisque;
  height: 100%;
  padding: 20px;
}

.heading {
  text-align: center;
}
.separator {
  width: 90%;
}
.display-card {
  height: 70%;
  list-style-type: none;
  width: 100%;
  padding: 20px;
}
.input-card {
  position: bottom;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.user-input-card {
  width: 80%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.input {
  width: 100%;
  border-radius: 20px;
  border: none;
  height: 50px;
  font-size: 15px;
  font-family: 'Roboto';
  padding-left: 5px;
}
.mention-button {
  background-color: transparent;
  border: none;
  padding: 10px;
}
.send-button {
  font-size: 20px;
  font-family: 'Roboto';
  border: none;
  margin-left: 10px;
  border-radius: 20px;
  height: 40px;
  background-color: transparent;
}
.emoji-display-card {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 300px;
  list-style-type: none;
  text-align: center;
  background-color: transparent;
  margin-left: 600px;
  margin-right: 100px;
  border-radius: 10px;
}
.emoji {
  height: 60px;
  width: 60px;
  padding: 10px;
}
img {
  height: 50px;
  width: 50px;
}
.name-display-card {
  list-style-type: none;
  text-align: center;
  background-color: transparent;
  margin-left: 500px;
  margin-right: 150px;
  border-radius: 10px;
}
